@font-face {
    font-family: 'NoLimits';
    src: url('fonts/No\ Limits\(FONT\ BY\ LYAJKA\).ttf') format('truetype');
    font-family: 'Radiotechnika';
    src: url('fonts/Radiotechnika.otf') format('truetype');
    font-family: 'Sanyo';
    src: url('fonts/SANYO-CYR_0.ttf') format('truetype');
  }
    /* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">*/
    *{
    box-sizing: border-box;
}
body{
width: 100%;
    background: url(img/arab.png) ;
    padding-top: 44px;
    margin: 0;
}
    /*Верхняя шапка*/
    .container{
        margin:  auto;
        margin-bottom: 62px;
    }
    .header{
        display: flex;
        align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 109px;
    top: -4px;
    background: rgba(39, 37, 37, 0.88) ;
    }

    .logo{
        margin-top: 25px; 
        width: 250px;
        height: 80px; 
        margin-left: 20px;
    }
    .mark{
        width: 10px;
        color: #ffffff;
        height: 12px;
        margin-right: 5px;
    }
    .blocks-2{
width: 100%;
margin-top: 20px;
    }
    .button{
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background: transparent;
        border: 5px solid transparent;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    line-height:24px;
    }
    .button-1{
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background: transparent;
        border: 5px solid transparent;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    line-height:24px;
    }
    .button-primary:hover{
        border-bottom: 0px solid rgba(255, 255, 255, 0.777)
    }
    .button-primarys:hover{
        border-bottom: 0px solid rgba(255, 255, 255, 0.777)
    }
    
    .button-primary {
        margin-right: 20px;
    }
    .without-a-line{
        font-family: 'Sanyo';
        color: #fff;
        
    }
    .basket{
position: absolute;
padding-left: 241px;
    }
    .basket-1{
        position: absolute;
        margin-left: -46px;
        margin-top: 41px;
    }
    .part_of_the_basket{
        margin-top: 22px;
        margin-left: 73px;
    }

    
    .without-a-line-1{
        font-family: 'Sanyo';
        color: #fff;
        font-size: 16px; 
    }
    .without-a-line-1-1{
        font-family: 'Sanyo';
        color: #fff;
        font-size: 22px; 
        margin-top: -12px;
        margin-left: 21px;
    }
    .nama{
        font-size: 15px;
        margin-left: -45px;
        font-family: 'Sanyo';
    }

    .button-primarys {
        margin-right: 40px; 
    }
    .button-icon{
        margin-right: 6px;
        width: 21px;
        height: 20px; 
    }
    .line-1{
      margin-right:50px ;
      margin-top: -1px;
    }
    .header-number{
        padding-left: 78%;
        margin-top: -32px;
        display: flex;
    align-items: center;
    }
    .blocks-1{
        display: flex;
justify-content: center;
max-height: 30px;
padding-left: 60%
    }


.forms {

  width: 300px;
  color: #222;
  font-weight: 300;
  font-size: 24px;
  line-height: 39.25px;
  text-align: center;
}
.menu-mains {
    margin-top: 90px;
    width: inherit;
    height: 470px;
    margin-bottom: 330px;
}

.cart-wow{
  display: grid;
  position: relative;
  top: 152px;
  margin-bottom: -18px;
  margin-left: 15%;
  width: 600px;
  color: #222;
  font-family: "Sanyo", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 39.25px;
}



.cart-wow{
    background: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5));
width: 900px;
margin-left: auto;
margin-right: auto;
}
.input-labell{
    margin-top: 32px;
    margin-right: 900px;
    margin-left: 18px;
    width: 157px;
    height: 37px;
    font-size: 17px;
    background-color: #52FF00;
    margin-bottom: -6px;
    color: #ffffff;
}
.white{
    color: #ffffff;
}
.clear{
    margin-top: -35px;
    margin-left: 700px;
    }
    .clear-1{
        width: 178px;
        height: 37px;
        font-size: 16px;
        color: #ffffff;
        background-color: #52FF00;
        }
        .clear-2{
            margin-top: -27px;
            margin-left: 29px;
            }
    .in-the-shopping-cart{
        margin-left: 35px;
        font-size: 32px;
        margin-top: 21px;
    }
    .line-3{
        width: 856px;
        margin-left: -21px;
    }
    .prise{
        margin-left: 35px;
    }
    .b{
        margin-left: 50px;
        color: #fff;
    }
    .c{
        display: flex;
        color: #fff;
    }
    .d{
        margin-left: 10px;
        font-size: 28px;
        text-decoration: none;
        color: #fff;
    }
    .e{
        margin-left: 35px;
        color: #fff;
    }
    
    

    .without-a-line-1{
        font-family: 'Sanyo';
        color: #fff;
        font-size: 16px; 
    }

    .button-primarys {
        margin-right: 40px; 
    }
    .button-icon{
        margin-right: 6px;
        width: 21px;
        height: 20px; 
    }
    .line-1{
      margin-right:50px ;
      margin-top: -1px;
    }
    .header-number{
        padding-left: 78%;
        margin-top: -32px;
        display: flex;
    align-items: center;
    }
    .basket{
        position: absolute;
        padding-left: 241px;
            }
            .basket-1{
                position: absolute;
                margin-left: -46px;
                margin-top: 41px;
            }
            .part_of_the_basket{
                margin-top: 22px;
                margin-left: 73px;
            }



/*специально для вас*/
.container-2{
    margin: auto;
    height: 1500px;
}
.container-2-1{
    margin: auto;
    height: 1000px;
}
.the-text-with-the-action{
margin-left: 66px;
}
.the-action{
    margin-top: 120px;
    color: #fff;
    font-size: 52px;
}
.cards{
    margin-top: 65px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;

}
.fons{
    margin-top: 20px;
    width: 400px;
    height: 700px;
    background: #000000;
}
.fons:hover{
    background: #0a0a0a;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5)
}


.components {
    font-size: 16px;
}
.img-card-1 {
    width: 280px;
    height: 247px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 75px;
}

.name-pc{
    margin-top: 5px;
}
.name-pc-1{
    color: #fff;
    font-size: 30px; 
}
.accessories{
    margin-top: 5px;
}
.accessories-1{
    color: #fff;
    font-size: 20px;
}
.line-2{
    margin-top: -5px;
width: 87%;
color: #ffffff;
  }
.types-of-components{
display: flex;
}
.class-of-components{
    margin-top: 10px;
    margin-left: 35px;
    height: 270px;
}
.components{
    color: #fff;
    font-size: 16px;
}
.line-3 {
    margin-top: 25px;
    color: #ffffff;
    margin-left: -24px;
    margin-bottom: 50px;
}
.in-the-shopping-cart{
    margin-left: 35px;
    font-size: 32px;
    margin-top: 21px;
    color: #fff;
}

.the-learn-more-button {
    width: 401px;
    height: 73px;
    position: absolute;
    background-color: #52FF00;
    margin-top: -32px;
}
.without-a-line-2{
    font-family: 'Sanyo';
    color: #fff;
    font-size: 24px; 
    text-decoration: none;
}





.Find-out-more-buttons:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .Find-out-more-buttons:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1%;
    width: 10%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
    z-index: -1;
  }
  
  .Find-out-more-buttons:hover:before {
    left: 100%;
  }















.boxih{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), /* последний параметр регулирует прозрачность */ rgba(0, 0, 0, 0.5));
}
.litter{
    color: #ffffff;
    margin-left: 25px;
    font-size: 19px;
}
.litter-s{
    color: #ffffff; 
    font-size: 27px;
    margin-left: 162px;
    margin-bottom: 0px;
}



/*подвал*/
.container-4{
    margin-top: 144px;
height: 180px;
background: #000000;
opacity: 0.7;
}
.footer{
    padding: 35px 60px;
    background: #ffffff;
}
.footer-logo{
    margin-left: 66px;
    margin-top: 45px;
    width: 300px;
    height: 110px;
}
.footer-block{
    display: flex;
    align-items: center;
}
.button-text{ 
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    line-height:40px;
    text-decoration: none;
}
.pillars{
    align-items: flex-start;
    display: block;
    flex-wrap: nowrap;
    width: 280px;
    line-height: 35px;
}
.contacts{
    height: 52px;
}
.social-links{
    display: block;
    margin-right: 66px;
}
.center-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1200px;
    align-items: center;
}
.footer-nav{
    margin-left: auto;
    margin-right: auto;
        justify-content: space-between;
            max-width: 280px;
}
.footer-nav-1{
    margin-left: auto;
    margin-right: auto;
        justify-content: space-between;
            max-width: 500px;
}
.footer-link{
    display: inline-block;
    color: #ffffff;
font-size: 24px;
line-height: 21px;
    text-decoration: none;

}
.footer-link:hover{
    border-bottom: 2px solid rgb(116, 115, 115)
}

.content-3{
    display: flex;
}
.social-link-1{
    margin-right: 20px;
}
.social-link-2{
    margin-right: 20px;
}
.line1-3{

    width: 100%;
    color: #ffffff;
}



@media(max-width: 1908px){
    /*шапка*/
    .blocks-1 {
        padding-left: 55%;
    }
    .header-number {
        padding-left: 74%;
    }






    /*подвал*/
        .container-4 {
        margin-top: 185px;
    }
    .social-links {
        margin-right: 156px;
    }
    .social-links {
        margin-right: 65px;
    }
    .contacts {
        width: 400px;
    }

}
@media(max-width: 1882px){

    /*подвал*/
        .container-4 {
        margin-top: 200px;
    }
}





@media(max-width: 1538px){
    /*шапка*/
    .blocks-1 {
        padding-left: 47%;
    }
    .header-number {
        padding-left: 68%;
    }
    .without-a-line-1 {
        font-size: 14px;
    }
    .without-a-line {
        font-size: 18px;
    }



/*предложения*/
.the-action {
    font-size: 49px;
}
        /*подвал*/
        .container-4 {
            margin-top: 150px;
        }

}

@media(max-width: 1510px){

    /*предложения*/
    .container-2 {
        height: 1730px;
    }
.fons1{
    margin-top: 36px;
}
}


@media(max-width: 1343px){

    /*Swiper*/
    .servicer-image {
        height: 600px;
        }
        .heading-swiper {
            font-size: 24px;
        }
        .text-swiper-content {
            max-width: 455px;
            margin-top: -416px;
            font-size: 22px;
        }
        .Find-out-more {
            font-size: 22px;
        }
        .text-swiper {
            max-width: 200px;
            margin-top: -527px;;
        }
    .Find-out-more-button {
        margin-top: -327px;
        margin-left: 224px;
        padding: 0px 14px;
    }

/*предложения*/
    .the-action {
        font-size: 39px;
    }


        /*подвал*/
        .container-4 {
            margin-top: -180px;
            height: 160px;
        }
        .footer-logo {
            margin-left: 27px;
            margin-top: 25px;
            width: 214px;
            height: 86px;
        }
        .button-text {
            font-size: 19px;
        }
        .footer-link {
            font-size: 19px;
        }
        .contacts {
            width: 279px;
        }
}

@media(max-width: 1343px){
    /*шапка*/
    .blocks-1 {
        padding-left: 41%;
    }
    .header-number {
        padding-left: 64%;
    }
}






@media(max-width: 2100px){
    .line-1 {
        margin-right: 50px;
    }
    }

    @media(max-width: 2024px){
        .line-1 {
            margin-right: 55px;
        }
        .basket {
            padding-left: 203px;
        }
        }
        @media(max-width: 1908px){    
            .line-1 {
                margin-right: 95px;
            }
        }


        @media(max-width: 1737px){
            /*шапка*/
            .blocks-1 {
                padding-left: 50%;
            }
            .header-number {
                padding-left: 68%;
            }
            .line-1 {
                margin-right: 75px;
            }
            .basket {
                padding-left: 260px;
            }
        }
        @media(max-width: 1563px){
            .basket {
                padding-left: 240px;
            }
            .line-1 {
                margin-right: 75px;
            }
            }
            @media(max-width: 1521px){
                .basket {
                    padding-left: 200px;
                }
                }
                @media(max-width: 1395px){
                    .basket {
                        padding-left: 177px;
                    }
                    }
